* {
	width: 100%;
}

button, select {
	width: 10vw;
}






/*Styling for the modal*/
#off-page-modal {
	display: none;
	width: 100%;
	/*z-index: 1;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	transition: 5%;*/
};