/*************************************************************************
Title:       medium.css

Author:      Shane Lester

Created on:  July 16th 2018

Description: Styles the game 'Concentration: The Classic Matching Game' 
			 web application for browsers size 340px wide to 700px wide. 
			 For more information on the game please refer to the README
			 within this project.

**************************************************************************/

/*General Elements*/
html {
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	background-color: #c0c0c0;
}

/*Various clickable elements*/
#play-again {
	color: black;
	border-style: solid;
	border-width: 1px;
	font-size: 3vmin;
}

#go-back {
	color: black;
	border-style: solid;
	border-width: 1px;
	font-size: 2.5vmin;
}

#start-button {
	color: black;
	border-style: solid;
	border-width: 1px;
	font-size: 2.5vmin;
}

.difficulty-selector {
	color: black;
	border-style: solid;
	border-width: 1px;
	font-size: 2.5vmin;
}

.reset {
	font-size: 2.5vw;
	text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);
	box-shadow: 2px 1px 1px rgba(150, 150, 150, 1);
	min-width: 3.5vw;
	min-height: 3vmin;
}

button {
	border-radius: 10px;
	font-family: 'Knewave', cursive;
	min-width: 15vmin;
	width: 18vmin;
}

select {
	border-radius: 10px;
	font-family: 'Knewave', cursive;
	width: 18vmin;
}


button,
select,
.card {
	cursor: pointer;
}

button:hover,
select:hover {
	opacity: 0.6;
}

/*Style of title, subtitle, and game data 
displayed to user*/
#game-data-and-reset {
	border-radius: 5px;
}

.title-of-game {
	text-align: center;
	font-family: 'Knewave', cursive;
	font-size: 10vw;
	color: black;
	line-height: 8vw;
	margin-right: 10vw;
	margin-left: 10vw;
	margin-top: 8vh;
	text-shadow: 3px 2px 2px rgba(150, 150, 150, 1);
}

.subtitle {
	font-size: 4vw;
}

.game-data {
	display: flex;
	justify-content: space-between;
	font-size: 4vw;
	margin-right: 3vw;
	margin-left: 3vw;
	text-align: center;
	margin-top: 6vh;
	text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);
	color: black;
	font-weight: bolder;
}

/*Style for card grid*/
#card-game {
	width: 100%;
}

#all-cards {	
	display: grid;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 20vw;
	grid-column-gap: 4vw;
	grid-row-gap: 6vh;
	border-radius: 5px;
	align-content: stretch;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	margin-top: 4vh;
}

.front-of-card {
	background-color: #708090;
}

.front-of-card:hover {
	opacity: 0.8;
}

.back-of-card {
	background-color: #778899;
	opacity: 0.6;
}

.front-of-card,
.back-of-card {
	display: block;
	height: 20vw;
	width: 20vw;
	border-radius: 8px;
	text-align: center;
	vertical-align: middle;
	line-height: 20vw;
	font-size: 8vw;	
	box-shadow: 10px 11px 25px 1px rgba(0,0,0,0.43);
}

/*Styling for the modals*/
.modal {
	display: none;
	background-color: black;
	color: white;
	opacity: 0.8;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	top: 0;
	left: 0;
	position: fixed; 
	text-align: center;
	font-size: 5vw;
	font-family: 'Markazi Text', serif;
	animation-name: displaydown;
    animation-duration: 0.3s
}

@keyframes displaydown {
    from {top: -300px; opacity: 0.5}
    to {top: 0; opacity: 0.8}
}

.off-page-win-modal {
	font-size: 4vmax;
}

.off-page-start-modal {
	font-size: 2.75vmax;
	font-weight: bolder;
	line-height: 3vmax;
}

.start-modal-content  {
	align-content: center;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	max-height: 100vh;
	overflow-y: auto;
}

.thumbs-up {
	padding-top: 12vmax;
	font-size: 15vmax;
	opacity: 1.0;
	animation-name: spin;
	animation-duration: 2.5s;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}